SUMMARY = "Will's version of the FBIDA image viewer"

SRC_URI = "git://github.com/wware/fbida.git;protocol=http;branch=__BRANCH"

S = "${WORKDIR}/git"

RDEPENDS_${PN} = "bash"

LICENSE = "GPLv2"
LIC_FILES_CHKSUM = "file://${S}/COPYING;md5=8ca43cbc842c2336e835926c2166c28b"

__G10
SRCREV = "__SRCREV"

FILES_${PN} += "/usr/bin/fbi"

do_install() {
    install -m 0755 -d ${D}/usr/bin
    cp -R ${S}/fbi ${D}/usr/bin
}
